body {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;

  padding: 8px;

  background: #eff1f5;
  color: black;

  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: #060606;
    color: white;
  }

  a {
    color: #00eeff !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 8px 0;
}

li {
  margin-bottom: 4px;
}

a {
  color: #1e66f5;
}
